{% extends 'base.html' %}
{% block title %} Update Images {% endblock %}
{% load static %}

{% block content %}

<div class="signin-main-container">
    <div class="signin-wrapper">
        <header class="login-cta">
            <h2>Update Images</h2>
        </header>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            
            <div class="form-row">
                <input type="file">
                <span>Image</span>
            </div>

            <div class="form-row">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}